#wrapper {
  font-size: small;
}

ul {
  list-style-type: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100vw;
}

#navbar a {
  text-decoration: none;
  color: black;
}
#navbar a:hover {
  text-decoration: underline;
  color: grey;
}

#navbar ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#navbar li {
  margin-left: 1vw;
}

#center_page {
  position: fixed;
  top: 30vh;
  width: 100vw;
  text-align: center;
}

input[type=text]{
  width: 40%;
  border-style: none;
  border: 1px solid lightgrey;
  padding: 8px 12px;
  margin-top: 1%;
  box-shadow: 1px 1px 5px lightgrey;
}

input[type=text]:hover{
  box-shadow: 5px 5px 15px grey;
}

input[type=submit]{
  width: 13%;
  padding: 8px 12px;
  margin-top: 2%;
  margin-left: 0.3%;
  margin-right: 0.3%;
  border-style: none;
}

input[type=submit]:hover{
  color: black;
  background-color: lightgrey;
}

#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
}

.haut {
  height: 6vh;
  width: 100vw;
  border: 1px ridge grey;
  background-color: rgb(242,242,242);
}

.bas {
  height: 5vh;
  width: 100vw;
  background-color: rgb(242,242,242);
  border: 1px ridge grey;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bas ul {
  display: flex;
  flex-wrap: nowrap;
}

#footer li {
  margin-left: 1vw;
}

#footer a {
  text-decoration: none;
  color: grey;
}

#footer a:hover {
  text-decoration: underline;
}

.droite {
  margin-left: 600px;
}
